.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    margin:0;
    font-family: 'Bai Jamjuree', sans-serif;
}

p {
    font-size: 16px;
    line-height:26px;
    margin: 0px;
}

header {
    width: 100%;
    height: 300px;
    background: no-repeat url("../images/bg-header-mobile.png");
    background-size: 100% 300px;
    position: relative;
}
header .logo {
    position: absolute;
    top: 122px;
    left: 50%;
    transform: translate(-50%);
}

section {
    text-align: center;
    padding: 0px 30px;
    margin-bottom: 160px;
}
section h1 {
    letter-spacing: -1px;
    margin: 10px 0px 16px 0px;
    font-weight: 600;
    font-size: 33px;
}
section h2 {
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 27px;
}
section h3 {
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 10px;
}
#snippets img, #clipboard img {
    max-width: 100%;
    margin-bottom: 28px;
}

.div-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.div-button button {
    width: 310px;
    height: 55px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
    border-top: 1px solid;
    border-left: 1.5px solid;
    border-right: 1.5px solid;
    border-bottom: 3px solid;
    outline : 0;
}
.div-button button:first-of-type {
    background-color:hsl(171, 66%, 44%);
    margin-bottom: 24px;
    border-color:hsl(171, 66%, 40%);
    box-shadow: 0px 10px 30px -7px hsla(171, 66%, 44%);
}
.div-button button:last-of-type {
    background-color:hsl(233, 100%, 69%);
    border-color: hsl(233, 100%, 65%);
    box-shadow: 0px 15px 30px -10px hsl(233, 100%, 69%);
}

#snippets h2 + p {
    margin-bottom: 63px !important;
}
#snippets h3 + p {
    margin-bottom: 50px;
}
#snippets {
    margin-bottom: 187px;
} 

#clipboard p {
    margin-bottom: 63px;
}
#clipboard {
    margin-bottom : 95px;
}

#supercharge {
    margin-bottom: 75px;
}
#supercharge h2 {
    margin-bottom: 14px;
}
#supercharge > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 88px;
}
#supercharge div h3 {
    margin-top: 0px;
    margin-bottom: 17px;
}
#supercharge div div {
    padding-top: 80px;
    display: inline-block;
    position: relative;
    margin-bottom: 55px;
}
#supercharge div div img {
    position: absolute;
    top:0px;
    left:50%;
    transform: translate(-50%);
}

#company {
    height: 450px;
    display: flex; 
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
}
#company img {
    width: 140px;
}

#clipboard-for {
    margin-bottom: 168px;
}

footer {
    background-color:rgb(246, 246, 246);
}
footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer div div {
    width: 100%;
}
#logo-footer {
    height: 132px;
    position: relative;
}
#logo-footer img {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 55px;
}
footer ul {
    text-align: center;
    list-style: none;
    padding: 0;
    font-size: 18px;
}
footer ul li:not(:last-child) {
    padding-bottom: 27px;
}
footer ul li:hover {
    color: hsl(171, 66%, 44%);
    cursor: pointer;
}
footer #social div {
    margin: 0 auto;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
footer #social svg {
    fill: #4C545C;
}
footer #social svg:hover {
    fill: hsl(171, 66%, 44%);
    cursor: pointer;
}

/* mediaqueries */

@media (min-width: 675px) {
    .div-button button {
    margin: 0px 8px;
    width: 230px;
    }
}

@media (min-width: 800px) {
    #supercharge div div {
    width: 33%;
    display: block;
    }

    footer div {
    flex-wrap: nowrap;
    align-items: center;
    height: 150px;
    width: 90%;
    margin:0 auto;
    }
    footer div div:nth-child(1) {
    width:190px;
    }
    footer div div:nth-child(2) {
    width: 606px;
    }
    footer div div:nth-child(3) {
    width: 320px;
    }
    #logo-footer img {
    left:0px;
    top: 50%;
    transform: translate(0,-50%);
    }
    footer ul {
    text-align: start;
    width: 100%;
    height: 88px;
    display: flex;
    flex-flow: column wrap;
    }
    footer ul li {
    padding: 10px 0px !important;
    }
    footer #social {
    position: relative;
    }
    footer #social div {
    position: absolute;
    right:0;
    width: 120px;
    }
    #logo-footer img {
    top: 62px;
    }
}

@media (min-width: 1100px) {
    p {
    margin: 0 auto;
    font-size: 19.5px;
    width: 52%;
    line-height:29px;
    letter-spacing: 0.4px;
    }
    header {
    background: no-repeat url("../images/bg-header-desktop.png");  
    background-size: 100% 300px;
    }
    header .logo {
    top: 130px;
    } 
    section h1 {
    font-size: 46.5px !important;
    margin: 10px 0px 17px 0px !important;
    } 
    section h2 {
    font-size: 35px !important;
    margin-bottom: 21px !important;
    }
    .div-button {
    margin-top: 52px !important;
    }
    #intro {
    margin-bottom: 125px;
    }

    h3 + p {
    width: 100%; 
    font-size: 16px;
    margin-bottom: 35px !important;   
    }
    #snippets {
    height: 770px;
    }
    #snippets > div {
    display: flex;
    height: 590px;
    }
    #snippets div div {
    width: 100%;
    position: relative;
    }
    #snippets div div:nth-child(1) {
    width: 50%;
    }
    #snippets div div:nth-child(2) {
    text-align: start;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    }
    #snippets div div:nth-child(2) div {
    padding-left: 110px;
    width: 55%;
    }
    #snippets div div:nth-child(1) img {
    max-width: initial;
    position: absolute;
    top: 20px;
    right: 0px;
    }

    #clipboard {
    margin-bottom: 128px !important;
    }
    #clipboard p {
    margin-bottom: 110px !important;
    }

    #supercharge {
    margin-bottom: 40px !important;
    }
    #supercharge > div {
    margin: 0 auto;
    margin-top: 72px !important;
    width: 1150px;
    }

    #company {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap !important;
    justify-content: space-between !important;
    align-items: center;
    width: 1110px;
    height: 120px !important;
    margin-bottom: 125px !important;
    }
    #company img {
    width: auto !important;
    padding: 0px !important;
    }

    #clipboard-for {
    margin-bottom: 126px !important;
    }

    footer div {
    width: 1110px;
    }
}